@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville);
h1{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 0px;
    padding: 0;
    font-family: 'Lobster';
    color: black;
    font-weight:bold;
    font-style: italic;
    font-size: 100px;
    word-spacing: 30px;
    text-align:left;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
    padding: 0;
    font-family: 'Libre Baskerville';
    color: black;
    font-weight:bold;
    font-style: normal;
    font-size: 30px;
    word-spacing: 5px;
    text-align:left;
}

body{
    background-color: AliceBlue;
}

div{
    background-color: white;
    border-style: solid;
    border-color: black;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-radius: 10px;
}

input{
    margin-left: 25px;
    font-family: 'Libre Baskerville';
}

#menu{
    position: fixed;
    width: 80mm;
    top: 10%;
    right: 0.4%;
    padding: 3mm;
    border-radius: 10mm;
    background: white;
    opacity: 0.98;
    box-shadow: 5px 5px 100px #888888;
}
.menu{
    cursor:pointer;
}
input.menu {
    visibility:hidden;
}
label.menu{
    cursor: pointer;

}

input.menu + label {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
    padding: 0;
    font-family: 'Libre Baskerville';
    color: black;
    font-weight:bold;
    font-style: normal;
    font-size: 25px;
    text-align:left;
}

input.menu:checked + label {
    background: grey;
    color: white;
    font-style: italic;
    font-size: 30px;
}

#diff{
    border-style: none;
  }

p{
  margin-left: 2%;
}

.authentqql{
  position:fixed;
  left: 115px;
}

img.hole{
    position: absolute;
    height: 100px;
    width:  100px;
    top:    0px;
}
/*
img.seedImage{
    position: absolute;
    height: 20px;
    width:  10px;
    top:    0px;
} */

table, th, td {
    border: 2px solid black;
    border-radius: 5px;
    background: url("madeira.jpg");
    position:  relative;
  }

div.seed{
    height: 10px;
    width:  10px;
    position:  absolute;
    z-index: 2;
    top:  40px;
    left:  40px;
    opacity:  0.75;
}
#tabclassificL, #tabclassificW{
    width:50%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 10px;
    border-collapse: collapse;
}

.primeiro{
    width: 50%;
}

.segundo, .terceiro{
    width: 25%;
}

.headline, #stateP1, #stateP2{
    font-family: 'Libre Baskerville';
    text-align: center;
    color: white;
}

ul, li, label, p, .messageBoard{
    font-family: 'Libre Baskerville';
  }

#messageList{
    height: 150px;
    overflow: scroll;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.mouseover{
    filter: brightness(1.75);
    cursor:pointer;
}

button.playBtn{
    width:  100%;
    height: 100%;
    font-family: 'Libre Baskerville';
    font-style: oblique;
    color: black;
    background: AliceBlue;
    /*filter: brightness(1.75);*/
    cursor:pointer;
    height: 25px;
    width: 100px;
}

.seed{
    border-style: none;
    background-image: url("seed1.png");
    background-size: cover;
  }

.boardCell{
    position: relative;
    float: left;
    background: url("madeira.jpg");
    border-style: double;
    height: 100px;
    width: 100px;
    border: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
}

.board4{
    display: grid;
    grid-template-rows: 4 [row1-start] 25 [row2-start] 100px [row3-start] 100px [row4-start] 25px ;
    grid-template-columns: repeat(4, 100px [col-start]);
    background: url("madeira.jpg");
}

.board5{
    display: grid;
    grid-template-rows: 4 [row1-start] 25 [row2-start] 100px [row3-start] 100px [row4-start] 25px ;
    grid-template-columns: repeat(5, 100px [col-start]);
    background: url("madeira.jpg");
}

.board8{
    display: grid;
    grid-template-rows: 4 [row1-start] 25 [row2-start] 100px [row3-start] 100px [row4-start] 25px ;
    grid-template-columns: repeat(8, 100px [col-start]);
    background: url("madeira.jpg");
}

.board11{
    display: grid;
    grid-template-rows: 4 [row1-start] 25 [row2-start] 100px [row3-start] 100px [row4-start] 25px ;
    grid-template-columns: repeat(11, 100px [col-start]);
    background: url("madeira.jpg");
}

.pottop{
    position:  relative;
    grid-column-start:2; /* Incrementar isto para preencher da esquerda para a direita*/
    grid-column-end:span 1;
    grid-row-start:1;
    grid-row-end:span 1;
    background: url("bowl.png");
}

.potbot{
    position: relative;
    grid-column-start:1; /* Incrementar isto para preencher da esquerda para a direita*/
    grid-column-end:span 1;
    grid-row-start:2;
    grid-row-end:span 1;
    background: url("bowl.png");
}

.playercontainer1{
    position: relative;
    grid-column-start:-1;
    grid-column-end:span 1;
    grid-row-start:1;
    grid-row-end: span 2;
    background: url("madeira.jpg");
}

.playercontainer2{
    position: relative;
    grid-column-start:1;
    grid-column:1;
    grid-row-start:1;
    grid-row-end: span 2;
    background: url("madeira.jpg");
}

.statepot{
    position: relative;
    grid-column-start:1; /* Incrementar isto para preencher da esquerda para a direita*/
    grid-column-end:span 1;
    grid-row-start:3;
    grid-row-end:span 1;
    background: url("madeira.jpg");
}

#giveup{
    background-color: DarkRed;
    color: white;
    font-weight: bold;
}
