body{
  background-color: AliceBlue;
}

div{
    background-color: white;
    border-style: solid;
    border-color: grey;
    margin-bottom: 0px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#menu{
  width : 400px;
  height : 100px;
  float : right;
}

#configuracao{
  width: 400px;
  float: right;
  position:relative;
}

#jogar{
  width: 600px;
  height: 300px;
  float: left;
  background-color: AliceBlue;
  position:relative;
}

#armazem1{
  width: 100px;
  height: 295px;
  float: left;
  background-color: DarkGoldenRod;
}

#armazem2{
  width: 95px;
  height: 295px;
  float: right;
  background-color: DarkGoldenRod;
}

#bloco11{
  width: 90px;
  height: 140px;
  position: absolute;
  left: 107.5px;
  background-color: DarkGoldenRod;
}

#bloco12{
  width: 90px;
  height:140px;
  position: absolute;
  left: 206.5px;
  background-color: DarkGoldenRod;
}

#bloco13{
  width: 90px;
  height:140px;
  position: absolute;
  left: 302.5px;
  background-color: DarkGoldenRod;
}

#bloco14{
  width: 90px;
  height:140px;
  position: absolute;
  left: 400px;
  background-color: DarkGoldenRod;
}

#bloco21{
  width: 90px;
  height:140px;
  position: absolute;
  left: 110px;
  top: 155px;
  background-color: DarkGoldenRod;
}

#bloco22{
  width: 90px;
  height:140px;
  position: absolute;
  left: 205px;
  top: 155px;
  background-color: DarkGoldenRod;
}

#bloco23{
  width: 90px;
  height:140px;
  position: absolute;
  left: 305px;
  top: 155px;
  background-color: DarkGoldenRod;
}

#bloco24{
  width: 90px;
  height:140px;
  position: absolute;
  left: 400px;
  top: 155px;
  background-color: DarkGoldenRod;
}

input[type="button"]{
  background-color : white;
  color: black;
  border: none;
}
